os: linux
dist: xenial
language: rust
cache: cargo
rust:
- stable
- beta
- nightly
if: branch = main
install:
- rustup self update
- rustup component add clippy
- rustup component add rustfmt
- curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
- nvm install 10
before_script:
- export -f travis_fold
script:
- travis_fold start "format"
- cargo fmt --all -- --check
- travis_fold end "format"
- travis_fold start "clippy"
- cargo clippy --all-targets --all-features -- -D warnings
- travis_fold end "clippy"
- travis_fold start "build"
- cargo build --verbose --all-targets --workspace
- travis_fold end "build"
- travis_fold start "test"
- cargo test --verbose --workspace
- travis_fold end "test"
- travis_fold start "wasm-build"
- cd automerge-backend-wasm && yarn release
- travis_fold end "wasm-build"
- cd $TRAVIS_BUILD_DIR
- travis_fold start "wasm-test"
- wasm-pack test automerge-frontend --node
- travis_fold end "wasm-test"
- travis_fold start "js-interop-test"
- cd automerge-backend-wasm && yarn release && yarn test:js
- cd $TRAVIS_BUILD_DIR
- travis_fold end "js-interop-test"
jobs:
  allow_failures:
  - rust: nightly
  fast_finish: true
