os: linux
dist: xenial
language: rust

if: branch = main OR type = pull_request

install:
- rustup self update
- rustup component add clippy
- rustup component add rustfmt
- curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
- nvm install 10

jobs:
  allow_failures:
  - rust: nightly
  fast_finish: true
  include:
    - name: Stable - Format and Clippy
      rust: stable
      script:
      - cargo fmt --all -- --check
      - cargo clippy --all-targets --all-features -- -D warnings
    - name: Stable - Build and Test
      rust: stable
      script:
      - cargo build --all-targets --workspace
      - cargo test --workspace
    - name: Stable - Wasm and Interop
      rust: stable
      script:
      - wasm-pack test automerge-frontend --node
      - cd automerge-backend-wasm
      - yarn release
      - yarn test:js

    - name: Beta - Format and Clippy
      rust: beta
      script:
      - cargo fmt --all -- --check
      - cargo clippy --all-targets --all-features -- -D warnings
    - name: Beta - Build and Test
      rust: beta
      script:
      - cargo build --all-targets --workspace
      - cargo test --workspace
    - name: Beta - Wasm and Interop
      rust: beta
      script:
      - wasm-pack test automerge-frontend --node
      - cd automerge-backend-wasm
      - yarn release
      - yarn test:js

    - name: Nightly - Format and Clippy
      rust: nightly
      script:
      - cargo fmt --all -- --check
      - cargo clippy --all-targets --all-features -- -D warnings
    - name: Nightly - Build and Test
      rust: nightly
      script:
      - cargo build --all-targets --workspace
      - cargo test --workspace
    - name: Nightly - Wasm and Interop
      rust: nightly
      script:
      - wasm-pack test automerge-frontend --node
      - cd automerge-backend-wasm
      - yarn release
      - yarn test:js
