[workspace]

members = [
    "automerge",
    "automerge-c",
    "automerge-c-v2",
    "automerge-backend",
    "automerge-backend-wasm",
    "automerge-frontend",
    "automerge-cli",
    "automerge-protocol",
    "fuzz",
    "perf",
]

[profile.release]
# lto = true
debug = true
