[workspace]
members = [
    "automerge",
    "automerge-c",
    "automerge-cli",
    "automerge-wasm",
    "edit-trace",
]
resolver = "2"

[profile.release]
debug = true
lto = true
opt-level = 3

[profile.bench]
debug = true
