[workspace]

members = [
    "automerge",
    "automerge-c",
    "automerge-backend",
    "automerge-backend-wasm",
    "automerge-frontend",
    "automerge-cli",
    "automerge-protocol",
    "fuzz",
]
